/* INICIO ventana Login */
#formularioIngreso{
    position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
#respuesta{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
#loginFail{
    position: fixed;
    text-align: center; 
    font-weight: bold;
    color: red;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#botonSubmit{
    position: fixed;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
/* FIN ventana Login */

/* INICIO ventana producto */
.formClass{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
}
#encabezadoProductos{
    text-align: center;
    font-weight: bold;
}
#salirProducto{
    position: fixed;
    left: 90%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#editarProducto{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#realizarPedido{
    position: fixed;
    left: 60%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
}
.selector{
    vertical-align: middle;
}
/* FIN ventana producto */

/* INICIO Ventana Editar */
#botonRegresar{
    position: fixed;
    left: 90%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#botonGuardar{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#botonDeshacer{
    position: fixed;
    left: 65%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#tituloEditar{
    text-align: center;
    font-weight: bold;
}
#mensajeCambios{
    position: fixed;
    text-align: center; 
    font-weight: bold;
    font-size: large;
    color: red;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* FIN Ventana Editar */

/* INICIO ventana pedido */
#botonOrdenar{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#botonPedReg{
    position: fixed;
    left: 80%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#mensajePedido{
    position: fixed;
    text-align: center; 
    font-weight: bold;
    font-size: large;
    color: red;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* INICIO ventana pedido */


